@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --purple: #6f42c1;
  --purple-light: #e2d6f8;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  font: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}
